<section ng-controller="ListController">
	<h2>Potentially Friendly People</h2>
	
	<ul>
		<li ng-repeat="friend in friends">
			
			<!-- friend-summary component replaces all of the html content below -->
			<!--
				Add the bindings:
				person="friend"
				person refers to the variable we want to exist in the component
				friend is the value we want it to have
				
			-->
			<friend-summary person="friend" when-i-click="greet(target)"></friend-summary>
			
			
			<!-- person_id is the variable your give you the state url '/details/:person_id' -->
			<!-- <p><a ui-sref="show-details({ person_id: friend.id })">{{ friend.name }}</a></p> -->
		</li>
	</ul>
</section>