<!doctype html>
<html>
<head>
    <title>Learning Angular</title>
    <link rel="stylesheet" href="style.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.1/angular.min.js"></script>
    <script src="app.js"></script>
</head>

<!-- New attributes in Angular called 'directives' -->
<body ng-app="HairApp">
    <h1>Learning Angular, as told by:<br>
	<span class="sparkle">Salt Bae's Hair Salon</span></h1>
	
	<!-- Set up new template view and define the controller scope -->
    <section ng-controller="OwnerController">
		<img src="assets/salt-bae.jpg">
		
		<h2>About the Owner</h2>
		<p>Owner: {{ owner }}, who has ~{{ hairType }}~ hair.</p>
		
		<p>Salt Bae's hair is... </p>
		<button ng-click="baesHair('fabulous')">Fabulous</button>
        <button ng-click="baesHair('ugly')">Ugly</button>
		<button ng-click="baesHair('short')">Short</button>
	</section>
	
	<section ng-controller="ClientController">
		<h2>Register as a New Client</h2>
		<p>Your name: __{{ clientName }}__</p>
		<!-- ng-model 'binds' the input value to a $scope property -->
		<input type="text" ng-model="clientName" placeholder="Full Name">
		
		<h2>Salon Services</h2>
		<!-- Update list IRL as user adds requests below -->
		<!-- For each task (item) in $scope.tasks array, create li and display -->
        <ul>
			<li ng-repeat="task in tasks">
				{{ task }}
				<!-- Angular creates $index for each item in ng-repeat -->
            	<button ng-click="remove($index)">remove</button>
			</li>
		</ul>
		
		<!-- METHOD 1 -->
		<p>Method 1</p>
		
		<!-- User adds request to list from a set selection of buttons -->
		<button ng-click="addRequest('dye hair')">Dye it purple</button><br>
		<button ng-click="addRequest('curl hair')">Get some curls up in this bitch</button><br>
		
		<!-- User adds a custom request by typing in textbox -->
		<input type="text" ng-model="clientRequest" placeholder="Hair things, plz">
        <button ng-click="addRequest(clientRequest)">Request</button>
		
		
		<!-- METHOD 2 -->
		<hr><p>Method 2</p>
		<input type="text" ng-model="clientRequest2" placeholder="Hair things, plz">
        <button ng-click="addRequest2()">Request</button>
		
	</section>
</body>

</html>