<!doctype html>
<html>
<head>
    <title>Learning Angular</title>
    <link rel="stylesheet" href="style.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.1/angular.min.js"></script>
    <script src="app.js"></script>
</head>

<!-- New attributes in Angular called 'directives' -->
<body ng-app="HairApp">
    <h1>Salt Bae's Hair Salon</h1>
	
	<!-- Set up new template view and define the controller scope -->
    <section ng-controller="OwnerController">
		<img src="assets/salt-bae.jpg">
		
		<h2>About the Owner</h2>
		<p>Owner: {{ owner }}, who has ~{{ hairType }}~ hair.</p>
		
		<p>Salt Bae's hair is... </p>
		<button ng-click="baesHair('fabulous')">Fabulous</button>
        <button ng-click="baesHair('ugly')">Ugly</button>
		<button ng-click="baesHair('short')">Short</button>
	</section>
	
	<section ng-controller="ClientController">
		<h2>Register as a New Client</h2>
		<p>Your name: __{{ clientName }}__</p>
		<!-- ng-model 'binds' the input value to a $scope property -->
		<input type="text" ng-model="clientName" placeholder="Full Name">
		
		<h2>Salon Services</h2>
		<input type="text" ng-model="hair" placeholder="Which pet?">
        <button ng-click="newPet()">Add your pet</button>
        <ul>
            <!-- 
                Loop over all of the items in $scope.pets, and
                each will be called 'oneOfEm' during the loop.

                'in' is required - its saying we want a for loop
                here over the $scope.pets array. the current element 
                during the loop will be called 'oneofEm'.
            -->
            <li ng-repeat="oneOfEm in pets">
                {{ oneOfEm }}
                <!-- 
                    Angular creates $index for us when we're inside 
                    of an ng-repeat (for loop). 
                -->
                <button ng-click="remove($index)">remove</button>
            </li>
        </ul>
    </section>
</body>

</html>