@import '../node_modules/foundation-sites/scss/foundation';

@include foundation-global-styles;
@include foundation-grid;

body {
	@include grid-row();
}

button {
	@include button();
}

.sparkle {
	font-size: 50px;
	font-family: impact;
	
	-webkit-text-fill-color: transparent;
	background: -webkit-linear-gradient(transparent, transparent), url(assets/glitter.gif) repeat;
	background: -o-linear-gradient(transparent, transparent);
	-webkit-background-clip: text;
}