<!doctype html>
<html>
<head>
    <title>Learning Angular</title>
	<link rel="stylesheet" href="style.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.1/angular.min.js"></script>
    <script src="app.js"></script>
</head>

<body ng-app="BestBookApp">
    <h1>World's Best Books</h1>
    
	<section ng-controller="NewBookController">
        <h2>Add new book</h2>
        
		<p>Title</p>
        <input type="text" placeholder="Title" ng-model="title">
		
        <p>Author</p>
        <input type="text" placeholder="Author" ng-model="author">
		
        <p>Price</p>
        <input type="number" placeholder="Price" ng-model="price">
		
        <button ng-click="newBook()">Add book</button>
    </section>
	
    <section ng-controller="ShowBooksController">
        <ul>
            <!--
				ng-class: allows us to conditionally apply classes
				pass in object => property is applied as class when value is 'true'
			-->
            <li ng-class="{ favorite: currentBook.isFavorite }" ng-repeat="currentBook in books">
                <h3>{{ currentBook.title }}</h3>
                <p>Written by {{ currentBook.author }}</p>
				<img ng-src="{{ currentBook.cover }}">
                <!-- ng-show shows something when the condition is true -->
                <!-- ng-hide hides something when the condition is true -->
                <p ng-show="currentBook.isFavorite">FAVORITED</p>
               <button ng-hide="currentBook.isFavorite" ng-click="favoriteBook(currentBook)">Mark as favorite</button>
            </li>
        </ul>
    </section>
</body>

</html>