@import '../node_modules/foundation-sites/scss/foundation';

@include foundation-global-styles;
@include foundation-grid;

.hidden {
	display: none;
}

button {
	background-color: #eaeaea;
	padding: 5px 10px;
	cursor: pointer;
}